* {
	text-align: center;
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
body {
	background-color: rgb(194, 227, 228);
}
h1 {
	background-color: white;
	line-height: 1.5;
}
button {
	font-style: italic;
	font-weight: bolder;
	color: rgb(56, 101, 128);
	background-color: white;
	border: none;
	width: 150px;
	height: 40px;
	border-radius: 30px;
	box-shadow: inset -2px -2px 4px 4px rgb(201, 206, 221),
	 0px 2px 2px 2px rgb(84, 105, 133);
}
button:active {
	box-shadow: 0px 0px 1px 1px rgb(70, 115, 126);
	background-color: rgb(235, 241, 255);
	transform: translatey(2%);
}
.container {
	display: flex;
	justify-content: space-around;
	margin: 20px auto;
	width: 500px;
	height: 320px;
	border-radius: 10px;
}
h2 {
	padding: 10px 20px;
	border: none;
	border-radius: 20px;
	margin: 20px;
	font-size: 1rem;
	box-shadow: 0px 2px 1px 1px rgba(35, 33, 148, 0.199);
}
.dice-image {
	width: 200px;
	height: 200px;
}